/* ----------------------------- BOOSTRAP OVERRIDES ----------------------------- */
$font-size-base: 0.9rem;

$text-primary: green;

/* Background Colour */
$background-colour: #f8f8f8;

/* Loading Spinner Colour */
$loading-spinner-colour: #f8f8f8;
