<app-navbar [title]="'CRONUS Danmark A/S'" [data]="navbarItems"></app-navbar>
<app-input-wrapper [hidden]="false">
    <h3 class="accHeading">General</h3>
    <strong>General</strong>
    <div class="row">
        <div class="col">
            <app-input-dropdown [disabled]="false" [required]="true" [label]="'Gender'" [values]="['Male', 'Female', 'Other']"></app-input-dropdown>
        </div>
        <div class="col-12 col-md-6">
            <app-input-dropdown [disabled]="true" [disabled]="false" [label]="'Having Passport'" [popoverTitle]="'Passport'" [popoverDescription]="'You must have a valid passport and visa to visit another country!'" [values]="['Yes', 'No']" [selectedValue]="'Yes'"></app-input-dropdown>
        </div>
        <div class="col-12 col-md-6">
            <app-input-dropdown [label]="'I am Disabled'" [disabled]="true" [values]="['Yes', 'No']" [selectedValue]="'Yes'"></app-input-dropdown>
        </div>
        <div class="col-12 col-md-6">
            <app-input-dropdown [label]="'Some label2'" [hidden]="true"></app-input-dropdown>
        </div>

    </div>
</app-input-wrapper>
<app-input-wrapper>
    <h3 class="accHeading">Address & Contact</h3>
    <strong>Address & Contact</strong>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <app-input-dropdown [label]="'Address 1'" [disabled]="false"></app-input-dropdown>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <app-input-dropdown [label]="'City'"></app-input-dropdown>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <app-input-dropdown [label]="'Country'"></app-input-dropdown>
        </div>
    </div>
</app-input-wrapper>